[submodule "drawbot"]
	path = drawbot
	url = https://github.com/typemytype/drawbot.git
[submodule "pythonIntro"]
	path = pythonIntro
	url = https://github.com/roboDocs/pythonIntro.git
[submodule "drawBotExamples"]
	path = drawBotExamples
	url = https://github.com/roboDocs/drawBotExamples.git
[submodule "fontToolsDocs"]
	path = fontToolsDocs
	url = https://github.com/roboDocs/fontToolsDocs.git
[submodule "roboFabDocs"]
	path = roboFabDocs
	url = https://github.com/roboDocs/roboFabDocs
[submodule "roboFontDocumentation"]
	path = roboFontDocumentation
	url = https://github.com/typemytype/roboFontDocumentation.git
[submodule "vanilla"]
	path = vanilla
	url = https://github.com/typesupply/vanilla.git
[submodule "defcon"]
	path = defcon
	url = https://github.com/typesupply/defcon
[submodule "ufo2fdk"]
	path = ufo2fdk
	url = https://github.com/typesupply/ufo2fdk
