[submodule "drawbot"]
	path = drawbot
	url = https://github.com/typemytype/drawbot.git
[submodule "pythonIntro"]
	path = pythonIntro
	url = https://github.com/roboDocs/pythonIntro.git
[submodule "drawBotExamples"]
	path = drawBotExamples
	url = https://github.com/roboDocs/drawBotExamples.git
[submodule "fontToolsDocs"]
	path = fontToolsDocs
	url = https://github.com/roboDocs/fontToolsDocs.git
